<!DOCTYPE html>
<html>
    <head>
        <title>admin/loja</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body style="margin:auto;">
                <ul>
                    <li><a href="/">Home</a></li>
                    <% if (session!= null) { %>
                        <% if (session.cargo == null) { %>
                            <li><a href="/loja">Loja</a></li>
                            <li id="sessao"><a href="/logout">sair</a></li>
                            <li id="sessao"><a><%=session.email%></a></li>
                            <li id="sessao"><a href="">Minha Conta</a></li>
                            <li id="sessao"><a href="">Meus Alugueis</a></li>
                        <% } else { %>
                            <li id="sessao"><a href="/logout">sair</a></li>
                            <li id="sessao"><a><%=session.email%></a></li>
                            <li id="sessao"><a>ADMIN</a></li>
                            <li><a href="/admin/loja">Loja</a></li>
                            <li><a href="/admin/aluguel">Aluguel</a></li>
                            <li><a href="/admin/loja/add-carro">Adicionar Carro</a></li>
                        <%} %>
                        
                    <% } %>
                    <% if (session == null) { %>
                        <li id="sessao"><a href="/registrar">Cadastrar</a></li>
                        <li id="sessao"><a href="/login">Login</a></li>
                    <% } %>
                </ul>
                <center>
                    <% for (let i = 0; i < produtos.length; i++) {%>
                    <div id="imgDivCarro">
                        <img id="imagens" src="<%= produtos[i].foto%>" >
                        <div style="margin:10px; display: inline-block;">
                            <li id="textCarro">Nome: <%= produtos[i].nome %> </li>
                            <li id="textCarro">Marca: <%= produtos[i].marca %> </li>
                            <li id="textCarro">Cor: <%= produtos[i].cor %> </li>
                            <li id="textCarro">Valor: <%= produtos[i].valor%> </li>
                            <li id="textCarro">Diaria: <%= produtos[i].diaria %> </li>
                            <h2 style="display: inline-block; width: 100%; margin: auto;"><%= produtos[i].status%></h2>
                            <% if (produtos[i].status == "Indisponivel Hoje") { %>
                                <li id="textCarro" >DataInical<br><%= produtos[i].datainicial%> </li>
                                <li id="textCarro">DataFinal <br><%= produtos[i].datafinal%> </li>
                            <% } %>
                        </div>
                        <a style="width: auto; display: inline-block; margin-right: 15px;" ><button onclick="editar('<%=produtos[i]._id%>')" style="width: 100%;">Editar</button></a>
                        <a style="width: auto; display: inline-block;" ><button onclick="excluir('<%=produtos[i]._id%>')" style="width: 100%; ">Excluir</button></a>
                    </div>
                            <% } %>
                    </center>
                    <script>
                        function editar(carro)
                    {
                        location.href = "/admin/loja/editar-carro?_id=" + carro;
                    }
                        function excluir(carro)
                    {
                        location.href = "/admin/loja/excluir-carro?_id=" + carro;
                    }
                    </script>
    </body>
</html>